{% extends "base.html" %}

{% block title %}
    Games | AppFabio2
{% endblock %}

{% block content %}
    <div class="container">
        {% if perms.core %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Administração
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'core:sports' %}" class="btn btn-primary">Esportes</a> | <a href="{% url 'core:creategame' %}" class="btn btn-primary">Adicionar Jogo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Em Andamento
                    </div>
                    <div class="panel-body">
                        {% for game in games %}
                            {% if game.status == 'Em Andamento' %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4><b>{{ game.name }}</b></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6" align="right">
                                        <p style="font-size: 70px; color: red;">{{ game.score_red }}</p>
                                        {% if perms.core %}
                                            <a href="{% url 'core:add_score_red' game.pk %}" class="btn btn-primary">Add</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 col-xs-6" align="left">
                                        <p style="font-size: 70px; color: blue;">{{ game.score_blue }}</p>
                                        {% if perms.core %}
                                            <a href="{% url 'core:add_score_blue' game.pk %}" class="btn btn-primary">Add</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Começou em - {{ game.start }}
                                    </div>
                                </div>
                                {% if perms.core %}
                                    <div class="row">
                                        <div class="col-md-12" align="right">
                                            <a href="{% url 'core:finalize' game.pk %}" class="btn btn-primary">Finalizar Jogo</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Em Breve
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Começa</th>
                                    {% if perms.core %}
                                        <th>Ação</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for game in games %}
                                    {% if game.status == 'Em Breve' %}
                                        <tr>
                                            <td>{{ game.name }}</td>
                                            <td>{{ game.start }}</td>
                                            {% if perms.core %}
                                                <td><a href="{% url 'core:initiate' game.pk %}" class="btn btn-primary">Começar</a></td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Finalizado
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Pontos Vermelho</th>
                                    <th>Pontos Azul</th>
                                    <th>Começou em</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for game in games %}
                                    {% if game.status == 'Finalizado' %}
                                        <tr>
                                            <td>{{ game.name }}</td>
                                            <td>{{ game.score_red }}</td>
                                            <td>{{ game.score_blue }}</td>
                                            <td>{{ game.start }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
