{% extends "base.html" %}

{% block title %}
    Home | AppFabio2
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Page Home</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, corporis, pariatur. Accusamus ab animi laudantium quas doloremque error, sed itaque cumque similique minima illo tempora delectus, harum asperiores nihil perspiciatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
